<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
    <title>Weather app | About</title>
</head>

<body>
    {{>main_menu}}

    <!-- main header -->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="Darshil" title="Darshil Modi" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I Am A  <span class="text-primary">MERN Stack Developer</span> And A Freelancer</h1>
                        <a href="https://www.google.com/" target="_blank"><button>About me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->

    {{>footer}}

    {{jsLinks}}
</body>

</html>